Cython
distro
progressbar2
seqeval
sacremoses
packaging
mutagen
pandas
flit_core
acoustics
typed-argument-parser
demoji
librosa
pyinflect
webcolors
typo
colorama
minineedle
ragatouille<0.0.10
transformers
tokenizers
g2pk2
cn2an
inflect
eng_to_ipa
opencc
unidecode
phonemizer
pyopenjtalk
ko_pron
pypinyin
jieba
indic_transliteration
num_thai
tensorboardX
torchmetrics
packaging
psutil
sacrebleu
ninja
